# This notebook is set to visualize and model data gathered on game systems that are considered hot these days

In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

%matplotlib inline

In [94]:
xone = pd.read_csv('xboxone.csv')
xone.head()

,Name,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.59,2.11,0.01,0.68,7.39
1,Grand Theft Auto V,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48
2,Call of Duty: Advanced Warfare,2014.0,Shooter,Activision,3.22,1.55,0.01,0.48,5.27
3,Halo 5: Guardians,2015.0,Shooter,Microsoft Game Studios,2.78,1.27,0.03,0.41,4.48
4,Fallout 4,2015.0,Role-Playing,Bethesda Softworks,2.51,1.32,0.01,0.38,4.22

In [95]:
# Initating the label encoder
le = LabelEncoder()

# Columns i need to labelencode before fitting to a model
s = (xone.dtypes == 'object')
object_cols = list(s[s].index)

# Label encoding the columns and replacing the old columns with the new encoded data
for i in object_cols:
    xone[i] = le.fit_transform(xone[i])

In [96]:
xone = xone.astype(int)

In [97]:
xone.drop(['JP_Sales', 'Other_Sales'], axis=1, inplace=True)

In [98]:
# Breaking up my data to then model
used_col = [c for c in xone.columns.tolist() if c not in ['Global_Sales']]
X, y = xone[used_col], xone.Global_Sales

In [100]:
# Initiating my classification model to fit into cross validation
rfc = RandomForestClassifier(random_state=42)

scores = cross_val_score(rfc, X, y, cv=5)

scores.mean(), scores.std()

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

(0.8437346451582997, 0.029678466313341707)

In [ ]:
plt.figure(figsize=(16, 10))
plt.title('Game Sales by Genre Globaly')
plt.xlabel('Video Game Genres')
plt.ylabel('Video Game Global Sales (Millions of units)')
plt.bar(xone.Genre, xone.Global_Sales, color='#a62c2b');

In [ ]:
other = xone.Publisher.value_counts().iloc[10:]
top_10 = xone.Publisher.value_counts().iloc[:10]

In [ ]:
xone.Publisher.groupby(xone['Global_Sales']).value_counts()